body
{
    background-color: red;
    background-image: url("paper.gif");
    opacity:10;
}

h1
{
    color : white;
    text-align: center;
}

p
{
    margin:10px;
    padding:30px;
    text-align:center;
    border: 2px solid blue;
    font-family : Arial, Helvetica, sans-serif;
    font-size: 20px;
}