/* BODY */
body {
    margin: 0;
    min-height: 100vh;
    font-family: "Bitcount Single", system-ui;

    /* Gradient + Image together */
    background:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.9) 30%,
            rgba(78, 78, 78, 0.7) 50%,
            rgba(255, 255, 255, 0.9) 100%
        ),
        url("IMAGEBACKGROUND.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* BUTTON */
.bn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 45px;

    font-family: "Bitcount Single", system-ui;
    font-weight: 400;

    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;

    border-radius: 6px;
    border: 1px solid white;

    transition: all 0.3s ease;
}

.bn:hover {
    background-color: white;
    color: black;
}


/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 50px;

    background: rgba(0, 0, 0, 0.7);
}


/* NAV */
.nav-left,
.nav-right {
    display: flex;
    gap: 20px;
    flex: 1;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}


/* LOGO */
.logo {
    height: 80px;
    width: auto;
}