
body {
    margin: 0;
    min-height: 100vh;
    font-family: "Bitcount Single", system-ui;

    background:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.9) 30%,
            rgba(78, 78, 78, 0.7) 50%,
            rgba(255, 255, 255, 0.9) 100%
        ),
        url("IMAGEBACKGROUND.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 40px;

    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);

    position: sticky;
    top: 0;
    z-index: 1000;
}



.nav-left,
.nav-right {
    display: flex;
    gap: 15px;
    flex: 1;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}



.logo {
    height: 70px;
    width: auto;
}



.bn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 40px;

    text-decoration: none;

    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 13px;

    border-radius: 6px;
    border: 1px solid white;

    transition: all 0.3s ease;
}


.bn:hover {
    background-color: white;
    color: black;
    transform: translateY(-2px);
}


.bn:active {
    transform: scale(0.95);
}



@media (max-width: 900px) {
    .header {
        flex-direction: column;
        gap: 10px;
    }

    .nav-left,
    .nav-right {
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo {
        height: 60px;
    }
}